.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 81px;
    padding-left: 126px;
    padding-right: 83px;
    width:1231px;
    height:58px;
    max-width: 1231px;
    font-family: "Istok web";
    color: #013456;
    margin:0 auto;
}
.header_title{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    padding-top: 8px;
}
.header_title span{
    font-weight: 700;
    font-size: 40px;
    margin-right: 10px;
}
.paper_plane{
    height: 36px;
    width:36px;
}
.header_navigation{
    display: flex;
    align-items: center;
    width:607px;
    height:52px;
}
.header_navigation a{
    font-weight: 400;
    font-size: 36px;
    text-decoration: none;
    color: #013456;
}
.nav_about, .nav_books, .nav_logs, .nav_contact{
    margin-left: 29px;
}
.book_circle{
    width:795px;
    height:785px;
    background-color: #FAD405;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -129px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-bottom: 54px;
}
.book_image{
    width:434px;
    height:629px;
}
.wrapper{
    display:flex;
    gap:80px;
}
.book_text{
    font-family: "Poppins";
}
.bold_text{
    font-weight: bold;
    font-size: 48px;
    color: #013456;
    width:556px;
    margin-bottom: 0;
    margin-top: 91px;
    line-height: 72px;
}
.explanation{
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 14px;
    width:500px;
    line-height: 30px;
    display:block;
}
.book{
    margin-top: 46px;
}
.buttons button{
   margin-top: 50px;
   font-family: "Poppins";
   font-weight: bold;
   border: none;
   font-size: 32px;
   border-radius: 50px;
}
.buy{
   width:249px;
   height:80px;
   color: #013456;
   background-color: #FAD405;
}
.read{
   width:273px;
   height:80px;
   color: white;
   background-color: #013456;
   margin-left: 49px;
}